*{
    margin: 0%;
    padding: 0%;
}

.App{
     background-color: aliceblue;
}

.title{

       font-family: unset;
    font-weight: 800;
    padding-top: 25px;
}



.images{
display: flex;
justify-content: space-around;
margin-top: 40px;
display: flex;
justify-content: space-around;

padding: 16px;

}
img{
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8) ;
}
video{
    margin-top: 15px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}